[submodule "poky"]
	path = poky
	url = git@github.com:yawuliu/poky.git
	branch = scarthgap
[submodule "meta-debian"]
	path = meta-debian
	url = git@github.com:yawuliu/meta-debian.git
	branch = scarthgap
